.actual-link{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

/*========= Product =========*/
.quarter{
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    height: 700px;
}

.slideshow-container{
    width: 50%;
    /* position: relative; */
}

/* .slide{
    display: none;
} */

.pre, .post{
    cursor: pointer;
    color: white;
    position: absolute;
    padding: 0 1rem;
    font-size: 2rem;
    top: 60%;
}

.post{
    right: 50%;
}

.quarter__description{
    width: 50%;
}

