@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

/*============ VARIABLES ============*/
:root{
    /*============ Color ============*/
    --color--brand--first: #ea5f00;
    --color--brand--second: #1d1d1b;
    --color--brand--third: #f4ede9;

    --color--text--light: #f4ede9;
    --color--text--dark: #1e1e1c;

    --color--button-bg: #1e1e1c;

    --color--border: #1e1e1c;

    /*============ Fonts & typography ============*/
    --font-family-text: 'IBM Plex Mono', monospace;

    --font-normal-size: 1rem;
    --font-small-size: 0.75rem;

}

/*============ BASE ============*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--color--brand--third);
    color: var(--color--text--dark);
}

section{
    border: 1px solid var(--color--border);
    border-bottom: none;
}


main{
    margin: 1rem;
}

img{
    max-width: 100%;
}

h1,a{
    text-transform: uppercase;
}

p{
    font-family: var(--font-family-text);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*============ HEADER ============*/
.header{
    position: fixed;
    left: 1rem;
    right: 1rem;
    top: 1.5rem;

}

.nav{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__menu{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;

}

.nav__item{
    font-family: var(--font-family-text);
    color: var(--color--text--dark);
}

.nav__item:hover{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.cart__icon{
    width: 40px;
}

.cta{
    color: var(--color--text--light);
    font-family: var(--font-family-text);
    background-color: var(--color--brand--first);
    padding: 0.8rem;
    font-size: var(--font-small-size);
}

/*============ HOME ============*/
.home__logo{
    padding: 5rem 2rem 3rem;
}

.home__content{
    padding: 1rem 2rem; 
    display: flex;
    flex-direction: row;
}

.home__content-title{
    font-size: 3.5rem;
    width: 50%;
}

.home__info{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 50%;
}

.home__info-text{
    font-size: var(--font-normal-size);
    line-height: 1.5rem;
}

.banner__container{
    margin-top: 1rem;
    width: 100%;
    background-color: var(--color--brand--second);
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

.banner__content{
    animation: move 30s linear infinite;
}

.banner__text{
    display: inline-block;
    color: var(--color--text--light);
    text-transform: uppercase;
    padding: .75rem 3rem;
}

@keyframes move{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-100%,0);
    }
}

/*============ PRODUCT ============*/

.product{
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.product__description{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.product__title{
    text-transform: uppercase;
}

.product__image{
    border: 1px solid var(--color--brand--second);
    width: 180px;
    height: 180px;
}

#product-image1{
    border-top-left-radius: 12rem;
}

#product-image2{
    border-bottom-left-radius: 12rem;
}

#product-image3{
    border-top-right-radius: 12rem;
}

#product-image4{
    border-bottom-right-radius: 12rem;
}