:root{
    /*============ Color ============*/
    --color--brand--first: #ea5f00;
    --color--brand--second: #1d1d1b;
    --color--brand--third: #f4ede9;

    --color--text--light: #f4ede9;
    --color--text--dark: #1e1e1c;

    --color--button-bg: #1e1e1c;

    --color--border: #1e1e1c;

    /*============ Fonts & typography ============*/
    --font-family-first: 'Inter Tight', sans-serif; 
    --font-family-text: 'IBM Plex Mono', monospace;

    --font-bigger-size: 4rem;
    --font-big-size: 2.5rem;
    --font-normal-size: 1rem;
    --font-small-size: 0.75rem;

    --line-height-text: 1.5rem;

}

.logo{
    position: fixed;
    width: 150px;
    left: 44%;
    top: 1.4rem;    
}

.top__merch__container{
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    padding: 6rem 2rem 4rem;
}

#shop__product__img-small{
    height: 400px;
    object-fit:cover;
    border: 1px solid var(--color--brand--second);
    border-bottom: none;
}

#shop__product__name-small{
    width:120px;
}